<div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center center">
    <button button="submit" mat-raised-button color="primary" (click)="openAddTaskDialog()">
        <mat-icon>add</mat-icon> Add Task
    </button>
</div>
<br>
<mat-card>
    <mat-card-content class="mat-elevation-z8">
        <mat-table #table [dataSource]=tasks>
            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
                <mat-cell *matCellDef="let task"> {{task.id}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="projectName">
                <mat-header-cell *matHeaderCellDef> Project Name </mat-header-cell>
                <mat-cell *matCellDef="let task"> {{task.projectAbbreviation}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                <mat-cell *matCellDef="let task"> {{task.name}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="startDate">
                <mat-header-cell *matHeaderCellDef> Start Date </mat-header-cell>
                <mat-cell *matCellDef="let task"> {{task.startDate | date}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="finishDate">
                <mat-header-cell *matHeaderCellDef> Finish Date </mat-header-cell>
                <mat-cell *matCellDef="let task"> {{task.finishDate | date}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="employees">
                <mat-header-cell *matHeaderCellDef> Employees </mat-header-cell>
                <mat-cell *matCellDef="let task" fxLayout="column">
                    <span *ngFor="let employee of task.fullNames">
                        {{employee}}
                    </span>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
                <mat-cell *matCellDef="let task"> {{task.statusName}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="edit">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let task">
                    <button type="button" mat-button (click)="openEditTaskDialog(task)" matTooltip="edit task">
                        <mat-icon class="icon">edit</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="delete">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let task">
                    <button type="button" mat-button (click)="onDeleteTaskClick(task.id)" matTooltip="delete task">
                        <mat-icon class="icon">delete</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let rowData; columns: displayedColumns"></mat-row>
        </mat-table>
    </mat-card-content>
</mat-card>