<div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center center">
  <button button="submit" mat-raised-button color="primary" (click)="openAddEmployeeDialog()">
    <mat-icon>add</mat-icon> Add Employee
  </button>
</div>
<br>
<mat-card>
  <mat-card-content class="mat-elevation-z8">
      <mat-spinner *ngIf="isLoading"></mat-spinner>
    <mat-table #table [dataSource]=employees  *ngIf="!isLoading">
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
        <mat-cell *matCellDef="let employee"> {{employee.id}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="firstName">
        <mat-header-cell *matHeaderCellDef> First Name </mat-header-cell>
        <mat-cell *matCellDef="let employee"> {{employee.firstName}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="lastName">
        <mat-header-cell *matHeaderCellDef> Last Name </mat-header-cell>
        <mat-cell *matCellDef="let employee"> {{employee.lastName}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="patronymic">
        <mat-header-cell *matHeaderCellDef> Patronymic </mat-header-cell>
        <mat-cell *matCellDef="let employee"> {{employee.patronymic}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="position">
        <mat-header-cell *matHeaderCellDef> Position </mat-header-cell>
        <mat-cell *matCellDef="let employee"> {{employee.position}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="edit">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let employee">
          <button type="button" mat-button (click)="openEditEmployeeDialog(employee)" matTooltip="edit employee">
            <mat-icon class="icon">edit</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="delete">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let employee">
          <button type="button" mat-button (click)="onDeleteEmployeeClick(employee.id)" matTooltip="delete employee">
            <mat-icon class="icon">delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let myRowData; columns: displayedColumns"></mat-row>
    </mat-table>
  </mat-card-content>
</mat-card>