@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <h2 align="center">Welcome</h2>
    <hr\>
        <ul >
            <li><a asp-area="" asp-controller="Employee" asp-action="Index">Employees</a></li>
            <li><a asp-area="" asp-controller="Task" asp-action="Index">Tasks</a></li>
            <li><a asp-area="" asp-controller="Project" asp-action="Index">Projects</a></li>
        </ul>
</div>
