<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
  <form fxLayout="column">
    <mat-form-field>
      <input matInput placeholder="Id" type="text" [value]="data.project.id || ''" name="id" readonly>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Name" type="text" required [(ngModel)]="data.project.name" name="name">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Abbreviation" type="text" required [(ngModel)]="data.project.abbreviation" name="abbreviation">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Description" type="text" required [(ngModel)]="data.project.description" name="description">
    </mat-form-field>
    <div>
      <h3>Tasks</h3>
      <button button="submit" mat-stroked-button color="primary" (click)="openAddTaskDialog()">
        <mat-icon>add</mat-icon> Add Task
      </button>
      <mat-table #tableTasksByProject [dataSource]=data.project.tasks>
        <ng-container matColumnDef="taskId">
          <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
          <mat-cell *matCellDef="let task"> {{task.id}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="taskName">
          <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
          <mat-cell *matCellDef="let task"> {{task.name}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="startDate">
          <mat-header-cell *matHeaderCellDef> Start Date </mat-header-cell>
          <mat-cell *matCellDef="let task"> {{task.startDate | date}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="finishDate">
          <mat-header-cell *matHeaderCellDef> Finish Date </mat-header-cell>
          <mat-cell *matCellDef="let task"> {{task.finishDate | date}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="employees">
          <mat-header-cell *matHeaderCellDef> Employees </mat-header-cell>
          <mat-cell *matCellDef="let task" fxLayout="column">
            <span *ngFor="let employee of task.fullNames">
              {{employee}}
            </span>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
          <mat-cell *matCellDef="let task"> {{task.statusName}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="edit">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let task">
            <button type="button" mat-button (click)="openEditTaskDialog(task)" matTooltip="edit task">
              <mat-icon class="icon">edit</mat-icon>
            </button>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="delete">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let task">
            <button type="button" mat-button (click)="onDeleteTaskClick(task.id)" matTooltip="delete task">
              <mat-icon class="icon">delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef=data.displayedColumns></mat-header-row>
        <mat-row *matRowDef="let rowData; columns: data.displayedColumns"></mat-row>
      </mat-table>
    </div>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button cdkFocusInitial color="primary" [mat-dialog-close]="data.project">Save</button>
  <button mat-raised-button color="warn" (click)="onCancelClick()">Cancel</button>
</div>