<div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center center">
    <button button="submit" mat-raised-button color="primary" (click)="openAddProjectDialog()">
        <mat-icon>add</mat-icon> Add Project
    </button>
</div>
<br>
<mat-card>
    <mat-card-content class="mat-elevation-z8">
        <mat-table #table [dataSource]=projects>
            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
                <mat-cell *matCellDef="let project"> {{project.id}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                <mat-cell *matCellDef="let project"> {{project.name}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="abbreviation">
                <mat-header-cell *matHeaderCellDef> Abbreviation </mat-header-cell>
                <mat-cell *matCellDef="let project"> {{project.abbreviation}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="description">
                <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
                <mat-cell *matCellDef="let project"> {{project.description}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="edit">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let project">
                    <button type="button" mat-button (click)="openEditProjectDialog(project)" matTooltip="edit project">
                        <mat-icon class="icon">edit</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="delete">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let project">
                    <button type="button" mat-button (click)="onDeleteProjectClick(project.id)" matTooltip="delete project">
                        <mat-icon class="icon">delete</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let myRowData; columns: displayedColumns"></mat-row>
        </mat-table>
    </mat-card-content>
</mat-card>